{% extends "base.html" %}

{% block announce %}{% include "announce.html" ignore missing %}{% endblock %}

{% block analytics %}
<script src="https://try.count.ly/sdk/web/countly.min.js"></script>
<!-- Default Statcounter code for Christmas Countdown Website
https://www.christmascountdown.live -->
<script type="text/javascript">
	var sc_project = 12414057;
	var sc_invisible = 1;
	var sc_security = "7cb9f9de";
	var sc_https = 1;
	var sc_remove_link = 1;
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
	<div class="statcounter"><img class="statcounter" src="https://c.statcounter.com/12414057/0/7cb9f9de/1/" alt="site
stats"></div>
</noscript>
<!-- End of Statcounter Code -->
{% endblock %}